{% assign listed_posts_urls = page.url | split: ' ' %}

<div class="related">
  <h2>{{ site.data.settings.related_posts }}</h2>
  <ul class="related-posts">
    {% for tag in page.tags %}
      {% for another_post in site.tags[tag] limit: 3 %}
        {% unless listed_posts_urls contains another_post.url %}
          <li>
            <h4>
              <a href="{{ site.github.url }}{{ another_post.url }}">
                {{ another_post.title }}
              </a>
            </h4>
          </li>
          {% assign listed_posts_urls = listed_posts_urls | push: another_post.url %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
