.header, .container, .footer {
  margin: 0 auto;
  width: 615px;
}

.container {
  flex: 1;

  @media (max-width: $container-responsive-width) {
    width: 90vw;
  }
}

.header, .container {
  margin-bottom: 4rem;
}

.header {
  padding: 0.5rem 0;
}

.header-title {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    margin-right: 10px;
  }
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;;
  padding-top: 0.5rem;

  nav {
    display: flex;

    a {
      color: $light-gray-color;
      font-size: 1.6rem;
      font-weight: bold;
      padding-right: 10px;
      text-decoration: none;

      &:hover {
        color: $dark-gray-color;
      }
    }
  }

  @media (max-width: $elements-responsive-width) {
    justify-content: flex-start;
  }
}

.footer {
  background: black;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 2rem;

  a {
    color: $light-gray-color;
    padding: 10px;
    text-decoration: none;

    &:hover {
      color: $dark-gray-color;
    }
  }
}

.copyright {
  font-size:1rem;
}
