.post-date {
  color: $light-gray-color;
  display: block;
  font-family: $code-font-family;
  font-size: 1.2rem;
  margin: 3px 0 1rem;
}

@media (max-width: $elements-responsive-width) {
  .posts h1 {
    font-size: 1.6rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  list-style: none;
  padding-left: 0px;

  a {
    text-decoration: none;
  }
}
